* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
	background-color: #ffffff;
}

h4 {
    margin-bottom: 20px;
}

/* Header Styling */

.navbar {
	background-color: #212529;
	margin-bottom: 25px;
}

.nav-text {
	color: #ffffff;
	line-height: 50px;
}

.nav-link {
	color: #ffffff;
}

#nav-toggle-button{
	border-color: #ffffff;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Footer Styling */

footer {
    background-color: #212529;
}

.footer-link {
	color: #ffffff;
	font-size: 20px;
}


/* Button style and animation */

.btn {
    margin-right: 0.5rem !important
}

.btn {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    padding: .7rem 1.5rem;
    border-radius: 0.1275rem;
}

.btn-div {
    margin-top: 20px;
}

.btn-global {
    background-color: #212529;
    color: #ffffff;
    border-radius: 25px;
}

.btn-global:hover{
    color: #ffffff;
}

.toast {
    transition: 0.32s all ease-in-out;
}

.toast-container--fade {
    right: 0;
    bottom: 0;
}

.toast-container--fade .toast-wrapper {
    display: inline-block;
}

.toast.fade-init {
    opacity: 0;
}

.toast.fade-show {
    opacity: 1;
}

.toast.fade-hide {
    opacity: 0;
    color: #ffffff;
}


/* Shopping List Styling */

.shopping-item {
	text-decoration: none;
	color: #212529;
}

.form-field {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.category-div {
    max-width: 5000px;
    margin: auto;
}

.category-list {
    list-style: none;
    font-weight: 500;
}

.btn-category {
    margin-left: 5px;
    height: 30px;
}

.btn-del-category {
    margin-left: 20px;
}

#id_username {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#id_email {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#id_password {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#id_password1 {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#id_password2 {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#id_login {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#id_remember {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.link {
    text-decoration: underline;
    color: #212529;
}