* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
	background-color: #ffffff;
}

/* Header Styling */

.navbar {
	background-color: #212529;
	margin-bottom: 25px;
}

.nav-text {
	color: #ffffff;
	line-height: 50px;
}

.nav-link {
	color: #ffffff;
}

#nav-toggle-button{
	border-color: #ffffff;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Footer Styling */

footer {
    background-color: #212529;
}

.footer-link {
	color: #ffffff;
	font-size: 20px;
}


/* Button style and animation */

.btn {
    margin-right: 0.5rem !important
}

.btn {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    padding: .7rem 1.5rem;
    border-radius: 0.1275rem
}

.toast {
    transition: 0.32s all ease-in-out
}

.toast-container--fade {
    right: 0;
    bottom: 0
}

.toast-container--fade .toast-wrapper {
    display: inline-block
}

.toast.fade-init {
    opacity: 0
}

.toast.fade-show {
    opacity: 1
}

.toast.fade-hide {
    opacity: 0
}


/* Shopping List Styling */

.shopping-item {
	text-decoration: none;
	color: #212529;
}

.form-control {

	border-color: #212529;
}