{% extends "base.html" %}

{% block content %}

<h1>Edit Todo item!</h1>
<form  method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        Category
        
      <select name="categories">
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.category }}</option>
          {% endfor %}
        </select> 
      </div> 
    <div>
        <p>
        <button class="btn btn-secondary" type="submit">Update Item</button> 
        <a class="btn btn-danger" href="#deletemodal" data-toggle="modal" data-target="#deletemodal">Delete Item</a>
        </p> 
    </div>
</form>

{% endblock %}

