{% extends "base.html" %}

{% block content %}


<div>
    <h4>My Categories</h4>
    <ul class="list-group">
        
        {% for category in categories %}
         {% if category.user.username == request.user.username %}
            <li>{{ category.category }}
                <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCatModal">Delete</a>
            </li>

            <!-- Delete Category Modal -->
            <div class="modal fade" id="deleteCatModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete {{ category.category }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p class="font-weight-bold text-uppercase"> 
                        Are you sure you want to delete {{ category.category }}?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" href="/deletecat/{{ category.id }}">Delete</a>
                </div>
                </div>
                </div>
            </div>

        {% endif %}
        {% endfor %}
        
    </ul>
    <a class="btn btn-primary" data-toggle="modal" data-target="#addCatModal">Add Category</a>
    <a class="btn btn-primary" href="{% url 'add' %}" role="button">Add item to shopping list</a>
</div>

<h4>Add a New Category</h4>
<form action="addcat" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <p>
          <button class="btn btn-success" type="submit">Add Catgegory</button> 
          <a class="btn btn-secondary" href="{% url 'category' %}" role="button">Back to Categories</a>
        </p> 
    </div>
</form>

 <!-- Delete Category Modal -->
 <div class="modal fade" id="addCatModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <form action="addcat" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                  <a class="btn btn-success"  type="submit">Add Catgegory</a> 
                  <a class="btn btn-secondary" href="{% url 'category' %}" role="button">Back to Categories</a>
                </p> 
            </div>
        </form>
    </div>
    </div>
    </div>
</div>



{% endblock %}
