{% extends "base.html" %}

{% block title %}Grocery Shopping List{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <h4 class="text-center">Welcome {{ user.username }}</h4>
                    <div>
                        <p><strong>Hello and Welcome to Grocery Shopping List.</strong></p>
                        <p>Create your own shopping list with your own categories, that you can sort whatever way you want.</p>
                        <div>
                            <p><strong>To get started follow the following steps</strong></p>
                            <ol>
                                <li>Go to <strong>"Manage Categories"</strong> in the top right corner</li>
                                <li>Add all the categories that you will need for your personal shopping list</li>
                                <li>Go to <strong>"Add Item"</strong> and add all the items you are getting</li>
                                <li>You will find all the items under <strong>"Shopping List"</strong></li>
                                <li>When you pick the item in the store you hit the button with checkmark to mark it as picked</li>
                                <li>When you are done just hit reset list and clear it for your next shopping tour</li>
                            </ol>
                        </div>
                        <div class="btn-div text-center">
                            <a class="btn btn-global" href="{% url 'shopping_list' %}" role="button">Go to your shopping list</a>    
                            <a class="btn btn-global" href="{% url 'category' %}" role="button">Manage your Catagories</a> 
                        </div>   
                    </div>
                </div> 
            </div>
        </div>
        
    {% else %}
    
        <div class="container d-flex justify-content-center">
            <div class="row">   
                <div class="col">
                    <h4 class="text-center">Welcome to Grocery Shopping List!</h4>
                    <div>
                        <p><strong>Hello and Welcome to Grocery Shopping List.</strong></p>
                        <p>Create your own shopping list with your own categories, that you can sort whatever way you want.</p>
                        <div>
                            <p><strong>To get started follow the following steps</strong></p>
                            <ol>
                                <li><a class="link" href="{% url 'account_login' %}">Log in</a>or <a class="link" href="{% url 'account_signup' %}">Sign Up</a></li>
                                <li>Go to <strong>"Manage Categories"</strong> in the top right corner</li>
                                <li>Add all the categories that you will need for your personal shopping list</li>
                                <li>Go to <strong>"Add Item"</strong> and add all the items you are getting</li>
                                <li>You will find all the items under <strong>"Shopping List"</strong></li>
                                <li>When you pick the item in the store you hit the button with checkmark to mark it as picked</li>
                                <li>when you are done just hit reset list and clear it for your next shopping tour</li>
                            </ol>
                        </div>
                        <div class="btn-div text-center">
                            <a class="btn btn-global" href="{% url 'account_login' %}" role="button">Log In</a>    
                            <a class="btn btn-global" href="{% url 'account_signup' %}" role="button">Sign Up</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}