{% extends "base.html" %}

{% block title %}Grocery Shopping List{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <h4 class="text-center">Welcome {{ user.username }}</h4>
                    <div>
                        <p><strong>Thank you for visiting the Grocery Shopping List.</strong></p>
                        <p>Make your own shopping list with your own categories that you may organize however you like.</p>
                        <div>
                            <p><strong>Follow the steps listed below to get started.</strong></p>
                            <ol>
                                <li>Go to <strong>"Manage Categories"</strong> in the top right corner.</li>
                                <li>Add all the categories that you'll require for your personalized shopping list.</li>
                                <li>Go to <strong>"Add Item"</strong> and include each item you are buying.</li>
                                <li>You will find all the items under <strong>"Shopping List"</strong></li>
                                <li>When you select an item in a store, you click the button with a checkmark to indicate that you have done so.</li>
                                <li>Once you're done, simply click "reset list" to make room for your upcoming shopping trip.</li>
                            </ol>
                        </div>
                        <div class="btn-div text-center">
                            <a class="btn btn-global" href="{% url 'shopping_list' %}" role="button">Go to your shopping list</a>    
                            <a class="btn btn-global" href="{% url 'category' %}" role="button">Manage your Catagories</a> 
                        </div>   
                    </div>
                </div> 
            </div>
        </div>
        
    {% else %}
    
        <div class="container d-flex justify-content-center">
            <div class="row">   
                <div class="col">
                    <h4 class="text-center">Welcome to Grocery Shopping List!</h4>
                    <div>
                        <p><strong>Thank you for visiting the Grocery Shopping List.</strong></p>
                        <p>Make your own shopping list with your own categories that you may organize however you like.</p>
                        <div>
                            <p><strong>Follow the steps listed below to get started.</strong></p>
                            <ol>
                                <li><a class="link" href="{% url 'account_login' %}">Log in</a>or <a class="link" href="{% url 'account_signup' %}">Sign Up</a></li>
                                <li>Go to <strong>"Manage Categories"</strong> in the top right corner.</li>
                                <li>Add all the categories that you'll require for your personalized shopping list.</li>
                                <li>Go to <strong>"Add Item"</strong> and include each item you are buying.</li>
                                <li>You will find all the items under <strong>"Shopping List"</strong></li>
                                <li>When you select an item in a store, you click the button with a checkmark to indicate that you have done so.</li>
                                <li>Once you're done, simply click "reset list" to make room for your upcoming shopping trip.</li>
                            </ol>
                        </div>
                        <div class="btn-div text-center">
                            <a class="btn btn-global" href="{% url 'account_login' %}" role="button">Log In</a>    
                            <a class="btn btn-global" href="{% url 'account_signup' %}" role="button">Sign Up</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}