{% extends "base.html" %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Brand</th>
        <th scope="col">Quantity</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.name }}</th>
                <td>{{ item.brand }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.category }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Edit Item</a>
                        <a class="dropdown-item" href="#">Delete Item</a>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Picked
                  </button>
            </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}