{% extends "base.html" %}

{% block content %}
    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteListModal">Reset List</a>
    <h4>Items to Pick</h4>
  
    <div class="table-responsive">
    <table class="table sortTable">
        <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Item</th>
                <th scope="col">Brand</th>
                <th scope="col">Quantity</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                {% if item.user.username == request.user.username %}
                    {% if item.picked == False %}
                    <tr>
                        <td style="width: 10%"><a class="btn btn-success" href="/toggle/{{ item.id }}" role="button">&#x2713;</a></td>
                        <th scope="row"><a class="shopping-item" href="/edit/{{ item.id }}">{{ item.name }}</a></th>
                        <td>{{ item.brand }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.category }}</td>
                        <td>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="/edit/{{ item.id }}">Edit Item</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#deleteItemModal{{ item.id }}">Delete Item</a>
                            </div>
                        </td>
                    </tr>
                     <!-- Delete Item Modal -->
                     <div class="modal fade" id="deleteItemModal{{ item.id }}" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ item.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <p class="font-weight-bold text-uppercase"> 
                                Are you sure you want to delete {{ item.name }}?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            <a class="btn btn-danger" href="/delete_item/{{ item.id }}">Delete</a>
                        </div>
                        </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        
            </tbody>
        </table>
    </div>
            <h4>Items Picked</h4>
        <div class="table-responsive">
        <table class="table sortTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Item</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Category</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                {% if item.user.username == request.user.username %}
                     {% if item.picked %}
                        <tr>
                            <td style="width: 10%"><a class="btn btn-secondary" href="/toggle/{{ item.id }}" role="button">X</a></td>
                            <th scope="row"><a class="shopping-item" href="/edit/{{ item.id }}">{{ item.name }}</a></th>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.category }}</td>
                            <td>
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" href="/edit/{{ item.id }}">Edit Item</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#deleteItemModal{{ item.id }}">Delete Item</a>
                                </div>
                            </td>
                        </tr>
                         <!-- Delete Item Modal -->
                        <div class="modal fade" id="deleteItemModal{{ item.id }}" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ item.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="font-weight-bold text-uppercase"> 
                                    Are you sure you want to delete {{ item.name }}?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="/delete_item/{{ item.id }}">Delete</a>
                            </div>
                            </div>
                            </div>
                        </div>
                        {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>

    

    {% endblock %}